extends base

block content
 a.button(href='#') Start Sending Email
 a.button.button-primary(href='#') Stop Sending
 a.button.button-secondary(href='#') Delete Account
 a.button.button-warning Log out  
 