extends base

block content
 .button-container
  a.button.button-sending Start Sending Email
  a.button.button-primary Stop Sending
  a.button.button-secondary Delete Account
  a.button.button-warning Log out  
 