extends base

block content 

 div.container
  h1 Forget Password?
  //-h2 Enter your Email.
  form
   label.label_class(for="email") Email:
   input.ip_loginforget(type="email" id="email" name="email" placeholder="Enter your email" required)
   button.forgetbtn(type="submit") Submit