extends base

block content 
  body.login_body
    form.modal__form__login
      h1.login_header Register
      label.label_class Name:
      input#reg_name(type="text", placeholder="Enter your Name")
      
      label.label_class Email:
      input#reg_email(type="email", placeholder="Enter your email")
      
      label.label_class Password:
      input#reg_password(type="text", placeholder="Password of 8 characters")
      
      label.label_class Password Confirm:
      input#reg_passwordConfirm(type="text", placeholder="Confirm your Password")
      
      //-btn.regclass(href="#") Register
      button.btn Register
